@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-sunset-orange: #ff8f3c;
  --color-secondary-warm-yellow: #ffb84d;
  --color-neutral-charcoal-black: #1a1a1d;
  --color-accent-neon-pink: #ff2e92;
  --color-accent-magenta-purple: #a020f0;
  --color-accent-deep-violet: #2e003e;
}


@layer utilities {
  .icon-white {
    filter: invert(100%)
            sepia(99%)
            saturate(2%)
            hue-rotate(213deg)
            brightness(106%)
            contrast(100%);
  }
  .icon-white:hover {
    filter: none;
  }
}
